.b1{
    margin-top:1px;
    margin-left: 750px;
    position: absolute;
    width: 30px;
    background: aqua;

}
.b2{
    margin-top:1px;
    margin-left: 800px;
    position: absolute;
    width: 30px;
    background: brown;

}

.h1{
    margin-top:13%;
}
